# Data types in python

### 1) List : It is Mutable (Mutable: elements can be changed)

An empty list  is represented as []. <br><br>

Below finctions are supported: <br><br>
Mutable Operations: <br>
a) append  --> append in last <br>
b) insert  --> to append in specific position <br>
c) ls[0] = "test"  --> update value on particular position <br>
d) del listName[3]  --> delete entry from position #3  <br>
e) listName.remove(element)  --> remove particular value from the list  <br>
f) ls2 = listName.copy()  --> to copy a list so that changes of one list will not effect another list <br>
g) listName.sort(), listName.sort(reverse=True)  --> sorting list in assending or desending order  <br>
h) pop()  --> to remove an element from end of list <br><br><br>

Normal Operations:<br>
a) len   --> size of list<br>
b) listName[position]  --> to nevigate <br>
c) in    --> check membership in list<br>
d) not in   <br>
e) * inetger   --> multiply with integer (it will repeat the same list that many times) <br>
f) +  --> concatenate the list with another or dynamic list <br>
g) listName[start:stop:step]   --> slice the list, default start: 0, default end: len(listName), default step: 1

In [22]:
ls =  [3,5,"act",2.5,"India"]
ls.insert(0,"True")
ls.insert(-2,99.99)
print(ls)

['True', 3, 5, 'act', 99.99, 2.5, 'India']

### 2) Tuples:  immutable<br>

An empty tuple is represented as (). <br><br>

Below finctions are supported: <br><br>
a) len <br>
b) tupleName[position]   --> To nevigate <br>
c) tupleName[start:stop:stepSize]  --> Slicing. default start: 0, default end: len(listName), default step: 1 <br>
d) tupleName*integer  --> Repeating the tuple <br>
e) + <br>
f) in <br>
g) not in

In [23]:
t1 = (4,3,7,8,5,)

### 3) Dictionary: key-value pair 
(Dictionay are unordered collections and hashMap function implementation of python)<br>

Keys are immutable while values are mutable <br>
An empty dict is represented as {} <br><br>

Keys shuold be unique. If duplicate keys are used, then it will use the last updated one.
dict = {1:23,2:45,1:56} <br>
print(dict)<br>
output: {1:56,2:45} <br>

- we can use list or dict as keys as these are mutable but can be used in values
- tuples can be used as key

##### Operations: 
- update    --> update the dict 
- del  --> delete element from dict
- len
- in   --> check if key in dict
- not in

In [24]:
dict1 = {1:23,2:45,1:56}
print(dict1)

{1: 56, 2: 45}

In [21]:
print(dict1[1])

56

In [3]:
dict1.update({5:'abe'})
print(dict1)

{1: 56, 2: 45, 5: 'abe'}

In [4]:
del dict1[2]
print(dict1)

{1: 56, 5: 'abe'}

In [5]:
print(len(dict1))

2

In [6]:
print(5 in dict1)

True

##### Traverse the dict

In [8]:
dict1 = {1: 'a', 2: 'x', 3:'r', 4:'t',5:'b'}

for i in dict1.keys():
    print(i)

1
2
3
4
5

In [9]:
for i in dict1.values():
    print(i)

a
x
r
t
b

In [13]:
for i,j in dict1.items():
    print(i, ":", j)

1 : a
2 : x
3 : r
4 : t
5 : b

In [17]:
for i in dict1.items():
    print(i)
    
print(type(i))

(1, 'a')
(2, 'x')
(3, 'r')
(4, 't')
(5, 'b')
<class 'tuple'>

### 4) Sets: A set is a collection which is unordered, immutable , and unindexed.
It is hash function implementation of python. <br>

##### Operations:
- len()
- in
- not in
- add()	--> Adds an element to the set
- clear() -->	Removes all the elements from the set
- copy() -->	Returns a copy of the set
- difference() -->	Return a set that contains the items that only exist in set x, and not in set y
- difference_update() -->	Removes the items in this set that are also included in another, specified set
- symmetric_difference() -->	Returns a set with the item of both the sets except common items in both.
- symmetric_difference_update()	--> inserts the symmetric differences from this set and another
- remove()	--> Removes the specified element
- discard()	--> Remove the specified item
- intersection() -->	Returns a set, that is the intersection of two other sets
- intersection_update()	 --> Removes the items in this set that are not present in other, specified set(s)
- isdisjoint() --> Return True if no items in set x is present in set y.
- issubset() --> Return True if all items in set x are present in set y
- issuperset()	--> Return True if all items set y are present in set x
- pop()	--> Removes an element from the set
- union()	--> Return a set containing the union of sets
- update() --> 	Update the set with the union of this set and others


<br>
Note: remove() and discard() bith are similar but If the item to remove does not exist <br>
- remove() will raise an error. <br>
- discard() will NOT raise an error. <br>

In [61]:
# Representation
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [62]:
# Duplicates Not Allowed in set

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [63]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

In [65]:
print(len(thisset))

3

In [67]:
# access values from set

for i in thisset:
    print(i)

cherry
apple
banana

In [68]:
thisset.add("grapes")
print(thisset)

{'cherry', 'apple', 'banana', 'grapes'}

In [70]:
thisset2 = {"kiwi", "mango"}

In [71]:
thisset.update(thisset2)
print(thisset)

{'mango', 'kiwi', 'cherry', 'apple', 'banana', 'grapes'}

In [72]:
## The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'orange', 'cherry', 'apple', 'banana'}

In [73]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [76]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [77]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'microsoft', 'cherry', 'apple', 'banana', 'google'}

In [84]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
k = x.difference(y)


print(z)
print(k)

{'google', 'cherry', 'banana', 'microsoft'}
{'cherry', 'banana'}

In [80]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [81]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [82]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

### 5) Strings: collection of characters.

##### Operations:
- len()
- indexing --> eg: str1[5]
- Slicing --> eg: str1[start:end:step]
- Repeatation --> eg: str1*2
- Concatenation --> str1 + str2
- in  --> subString in mainString
- not in 
- Removing spaces: lstrip(), rstrip(), strip()    --> lstrip: removes left side spaces of string, rstrip for right and strip for both.  Also it doesn't remove in-between spaces of string.
- replace() --> replace one string from another
- split()  --> eg: str.split("separator")
- join()  --> eg: "separator".join(str)

In [25]:
str1 = "How are you doing"
print(len(str1))

17

In [26]:
print(str1[4])

a

In [31]:
print(str1[:6])
print(str1[:10:2])
print(str1[2:6])
print(str1[-1::-1])

How ar
Hwaey
w ar
gniod uoy era woH

In [32]:
print(str1*2)

How are you doingHow are you doing

In [34]:
print(str1 + " bob")

How are you doing bob

In [35]:
print("How" in str1)

True

In [36]:
print("How" not in str1)

False

In [37]:
## lstrip(), rstrip(), strip()

str2 = '     ICT mission 2021  '
print(len(str2))

23

In [39]:
print(len(str2.lstrip()))
print(len(str2.rstrip()))
print(len(str2.strip()))

18
21
16

In [40]:
print(str2.lstrip())
print(str2.rstrip())
print(str2.strip())

ICT mission 2021
     ICT mission 2021
ICT mission 2021

In [50]:
## Replace()

str3 = "his name was {A}. {A} was good in nature"

print(str3.replace("{A}", "Ankur")) 
print(str3)  # it doesn't change origional string
str4 = str3.replace("{A}", "Ankur")
print(str4)

his name was Ankur. Ankur was good in nature
his name was {A}. {A} was good in nature
his name was Ankur. Ankur was good in nature

In [51]:
## Split()

str5 = "Introduction to python"

res_1 = str5.split(" ")
print(res_1)

['Introduction', 'to', 'python']

In [52]:
res_2 = str5.split("o")
print(res_2)

['Intr', 'ducti', 'n t', ' pyth', 'n']

In [53]:
## Join()

res_3 = " ".join(res_1)
print(res_3)

Introduction to python

In [54]:
res_4 = "o".join(res_2)
print(res_4)

Introduction to python

In [55]:
print(res_1)
print(res_2)
print(res_3)
print(res_4)

['Introduction', 'to', 'python']
['Intr', 'ducti', 'n t', ' pyth', 'n']
Introduction to python
Introduction to python

##### String formating

- We can use "%" or "{}" menthod to display variables in between string. <br><br>
% --> %s, %d, %.1f  for string, int and float respectively <br>
{} can also be used as {1},{2} to define sequence.

In [1]:
name = "Pyhton"
year = 1991
version = 4.0

print("%s was released in %d and %.3f version is available."%(name,year,version))

Pyhton was released in 1991 and 4.000 version is available.

In [58]:
print("{} was released in {} and {} version is available.".format(name,year,version))

Pyhton was released in 1991 and 4.0 version is available.

In [59]:
print("{2} was released in {0} and {1} version is available.".format(name,year,version))

4.0 was released in Pyhton and 1991 version is available.

### 6) Date and Time
A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.<br> <br>

eg: 2022-04-19 20:14:31.720868 <br>
The date contains year, month, day, hour, minute, second, and microsecond.

In [94]:
import datetime as dt

x = dt.datetime.now()
print(x)

2022-04-19 20:22:28.575559

In [95]:
print(x.year)
print(x.month)
print(x.day)
print(x.hour)
print(x.minute)
print(x.second)

2022
4
19
20
22
28

In [96]:
y = dt.datetime(2020, 5, 17)

print(y)

2020-05-17 00:00:00